.todo-label{
    font-size: 1.25em;
    color: black;
    font-style: bold;
}

.todo-input{
    margin-top: 10px;
    width: 350px;
    height: 25px;
}

.todo-submit-button{
    margin-top: 25px;
    width: 100px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 10px;
}
